    @mixin fade-in-from-top($duration: 0.5s, $delay: 0s) {
        opacity: 0;
        transform: translateY(-50px);
        animation: fadeInFromTop $duration ease-in-out $delay forwards;
      
        @keyframes fadeInFromTop {
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
    }

    @mixin fade-in-from-bottom($duration: 0.5s, $delay: 0s) {
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInFromBottom $duration ease-in-out $delay forwards;
      
        @keyframes fadeInFromBottom {
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    
      @mixin btn-zoom-out($duration: 0.3s) {
        transition: transform $duration ease-in-out;
      
        &:hover {
          transform: scale(0.9);
        }
      }
      